In [1]:
import seaborn as sb
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("Finalized_Dataset.csv")
df.head()

,day,month,year,Temperature,FFMC,DMC,DC,ISI,BUI,FWI,RH,Ws,Rain,Classes,Region
0,1.0,6.0,2012.0,29.0,65.7,3.4,7.6,1.3,3.4,0.5,57.0,18.0,0.0,0.0,0.0
1,2.0,6.0,2012.0,29.0,64.4,4.1,7.6,1.0,3.9,0.4,61.0,13.0,1.3,0.0,0.0
2,3.0,6.0,2012.0,26.0,47.1,2.5,7.1,0.3,2.7,0.1,82.0,22.0,13.1,0.0,0.0
3,4.0,6.0,2012.0,25.0,28.6,1.3,6.9,0.0,1.7,0.0,89.0,13.0,2.5,0.0,0.0
4,5.0,6.0,2012.0,27.0,64.8,3.0,14.2,1.2,3.9,0.5,77.0,16.0,0.0,0.0,0.0

In [3]:
x=df.drop("FWI",axis=1)
y=df[["FWI"]]

In [4]:
x.head()

,day,month,year,Temperature,FFMC,DMC,DC,ISI,BUI,RH,Ws,Rain,Classes,Region
0,1.0,6.0,2012.0,29.0,65.7,3.4,7.6,1.3,3.4,57.0,18.0,0.0,0.0,0.0
1,2.0,6.0,2012.0,29.0,64.4,4.1,7.6,1.0,3.9,61.0,13.0,1.3,0.0,0.0
2,3.0,6.0,2012.0,26.0,47.1,2.5,7.1,0.3,2.7,82.0,22.0,13.1,0.0,0.0
3,4.0,6.0,2012.0,25.0,28.6,1.3,6.9,0.0,1.7,89.0,13.0,2.5,0.0,0.0
4,5.0,6.0,2012.0,27.0,64.8,3.0,14.2,1.2,3.9,77.0,16.0,0.0,0.0,0.0

In [5]:
y.head()

   FWI
0  0.5
1  0.4
2  0.1
3  0.0
4  0.5

In [6]:
x.drop(['year','month','day'],inplace=True,axis=1)

In [7]:
data=x.corr()
data

,Temperature,FFMC,DMC,DC,ISI,BUI,RH,Ws,Rain,Classes,Region
Temperature,1.000000,0.676568,0.485687,0.376284,0.603871,0.459789,-0.651400,-0.284510,-0.326492,0.516015,0.269555
FFMC,0.676568,1.000000,0.603608,0.507397,0.740007,0.592011,-0.644873,-0.166548,-0.543906,0.769492,0.222241
DMC,0.485687,0.603608,1.000000,0.875925,0.680454,0.982248,-0.408519,-0.000721,-0.288773,0.585658,0.192089
DC,0.376284,0.507397,0.875925,1.000000,0.508643,0.941988,-0.226941,0.079135,-0.298023,0.511123,-0.078734
ISI,0.603871,0.740007,0.680454,0.508643,1.000000,0.644093,-0.686667,0.008532,-0.347484,0.735197,0.263197
BUI,0.459789,0.592011,0.982248,0.941988,0.644093,1.000000,-0.353841,0.031438,-0.299852,0.586639,0.089408
RH,-0.651400,-0.644873,-0.408519,-0.226941,-0.686667,-0.353841,1.000000,0.244048,0.222356,-0.432161,-0.402682
Ws,-0.284510,-0.166548,-0.000721,0.079135,0.008532,0.031438,0.244048,1.000000,0.171506,-0.069964,-0.181160
Rain,-0.326492,-0.543906,-0.288773,-0.298023,-0.347484,-0.299852,0.222356,0.171506,1.000000,-0.379097,-0.040013
Classes,0.516015,0.769492,0.585658,0.511123,0.735197,0.586639,-0.432161,-0.069964,-0.379097,1.000000,0.162347
Region,0.269555,0.222241,0.192089,-0.078734,0.263197,0.089408,-0.402682,-0.181160,-0.040013,0.162347,1.000000

In [8]:
def feature_selection(dataset,threshold):
    col=set()
    for i in range(len(dataset.columns)):
        for j in range(i):
            if (abs(dataset.iloc[i,j])>=threshold):
                col.add(dataset.columns[i])
    return col

#print(feature_selection(data,0.85))

x.drop(feature_selection(data,0.85),axis=1,inplace=True)

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
z=scaler.fit_transform(x_train)
test_data=scaler.transform(x_test)

In [11]:
for i in range(len(x_train)):
    x_train.iloc[i]=z[i]
for i in range(len(x_test)):
    x_test.iloc[i]=test_data[i]

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [13]:
linear_reg=LinearRegression()
linear_reg.fit(x_train,y_train)
error=mean_absolute_error(y_test,linear_reg.predict(x_test))
r2=r2_score(y_test,linear_reg.predict(x_test))
print(error)
print(r2*100)

0.8341332060447758
97.6221019054537

In [14]:
lasso_reg=Lasso()
lasso_reg.fit(x_train,y_train)
error=mean_absolute_error(y_test,lasso_reg.predict(x_test))
r2=r2_score(y_test,lasso_reg.predict(x_test))
print(error)
print(r2*100)

1.54716628588317
93.22677398144982

In [15]:
ridge=Ridge()
ridge.fit(x_train,y_train)
error=mean_absolute_error(y_test,ridge.predict(x_test))
r2=r2_score(y_test,ridge.predict(x_test))
print(error)
print(r2*100)

0.8450161812565269
97.5630604555118

In [16]:
en=ElasticNet()
en.fit(x_train,y_train)
error=mean_absolute_error(y_test,en.predict(x_test))
r2=r2_score(y_test,en.predict(x_test))
print(error)
print(r2*100)

2.129208976770678
86.79090617735861

In [17]:
import pickle

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)
with open("ridge_model.pkl","wb") as file:
    pickle.dump(ridge,file)

In [18]:
x_train

,Temperature,FFMC,DMC,ISI,RH,Ws,Rain,Classes,Region
147,1.096876,0.741992,0.260324,0.626694,-0.071505,0.177550,-0.395885,0.946485,1.044966
75,1.096876,0.377905,0.183062,-0.175336,-0.543514,-0.864842,-0.249241,0.946485,-0.956969
171,1.096876,1.153276,2.243392,3.421648,-2.296689,0.872479,-0.395885,0.946485,1.044966
222,-0.820024,-1.166094,-0.752671,-0.880150,0.737652,-0.169914,0.141810,-1.056541,1.044966
5,-0.272338,0.391390,-0.658240,-0.321159,0.265644,-0.517378,-0.395885,0.946485,-0.956969
...,...,...,...,...,...,...,...,...,...
122,0.001505,-1.327910,-0.941535,-0.928758,0.535363,-1.212307,-0.053716,-1.056541,1.044966
161,0.549190,0.047530,-0.469376,-0.588503,-0.813233,0.177550,1.461606,-1.056541,1.044966
186,0.549190,0.775704,0.869839,3.543167,-1.420101,0.525015,-0.347004,0.946485,1.044966
219,-0.272338,0.438586,-0.658240,-0.151032,-0.071505,-0.169914,-0.395885,0.946485,1.044966
154,0.549190,0.532979,-0.323436,0.067704,-0.476084,0.525015,-0.347004,0.946485,1.044966